.carousel-inner,
.carousel-item {
  height: 100vh;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

.py-5 .card {
  height: 300px;
  overflow: hidden;
}

.py-5 .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.py-5 h3 {
  color: white;
  padding-bottom: 20px;
  font-family: "Libertinus Sans", sans-serif;
  font-size: 50px;
}

.three-tiles i {
  width: 50px;
}

.products .card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info {
  background-color: #eff2f5;
}

.info .card {
  background-color: #eff2f5;
  border: none;
  font-family: "Libertinus Sans", sans-serif;
}

.info i {
  padding-right: 5%;
}

.info a {
  font-family: "Nunito", sans-serif;
}

#fname {
  font-size: small;
}
